@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 47% 94%;
    --foreground: 207 100% 10%;
    --card: 60 47% 99%;
    --card-foreground: 207 100% 10%;
    --popover: 60 47% 99%;
    --popover-foreground: 207 100% 10%;
    --primary: 207 100% 27%;
    --primary-foreground: 60 47% 94%;
    --secondary: 27 83% 80%;
    --secondary-foreground: 16 100% 30%;
    --muted: 27 83% 85%;
    --muted-foreground: 27 80% 50%;
    --accent: 16 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 30% 80%;
    --input: 207 30% 85%;
    --ring: 16 100% 60%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 207 30% 10%;
    --foreground: 60 47% 94%;
    --card: 207 30% 15%;
    --card-foreground: 60 47% 94%;
    --popover: 207 30% 10%;
    --popover-foreground: 60 47% 94%;
    --primary: 60 47% 94%;
    --primary-foreground: 207 100% 27%;
    --secondary: 16 100% 60%;
    --secondary-foreground: 0 0% 0%;
    --muted: 207 30% 20%;
    --muted-foreground: 60 40% 80%;
    --accent: 16 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 30% 25%;
    --input: 207 30% 25%;
    --ring: 16 100% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

section {
  @apply w-full py-12 md:py-24 lg:py-32;
}
